@using Announcements.Core.Domains;
@using Announcements.Core.Models.Domains;
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<Announcements.Core.Domains.Announcement>

<div id="announcementsTable">
    <table class="table mt-3 table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col">Opis</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Data dodania</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var announcement in Model)
                {
                    <tr>
                        <td>
                            @if (User.Identity.IsAuthenticated && UserManager.GetUserId(User) == announcement.UserId)
                            {
                                <a href="@Url.Action("Announcement", "Announcement",
                                new { id = announcement.Id })"
                                   class="font-weight-bold">
                                    @announcement.Title
                                </a>
                            }
                            else
                            {
                                <span class="font-weight-bold">
                                    @announcement.Title
                                </span>
                            }
                        </td>
                        <td>@announcement.Description</td>
                        <td>@announcement.Category.Name</td>
                        <td>@announcement.AddDate?.ToString("dd-MM-yyyy")</td>
                        <td>
                            @if (User.Identity.IsAuthenticated && UserManager.GetUserId(User) == announcement.UserId)
                            {
                                <button class="btn btn-danger btn-sm"
                                        onclick="deleteAnnouncement('@announcement.Id', this)">
                                    Usuń
                                </button>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="5">
                        Brak zaplanowanych zadań do wykonania!
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>