@using Announcements.Core.Domains;
@using Announcements.Core.Models.Domains;
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<Announcements.Core.Domains.Announcement>

<div id="announcementsTable">
    <table class="table mt-3 table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col">Opis</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Cena</th>
                <th scope="col">Data dodania</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var announcement in Model)
                {
                    <tr>
                        <td>
                            <div class="title-container">
                                @if (announcement.Pictures.Any())
                                {
                                    <img src="data:image;base64,@Convert.ToBase64String(announcement.Pictures.First().ImageData )"
                                         class="img-fluid mr-2" width="50" height="50">
                                }
                                <div class="title-overlay">
                                    @if (User.Identity.IsAuthenticated && UserManager.GetUserId(User) == announcement.UserId)
                                    {
                                        <a href="@Url.Action("Announcement", "Announcement",
                                        new { id = announcement.Id })"
                                           class="font-weight-bold">
                                            @announcement.Title
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("AnnouncementPreview", "Announcement",
                                        new { id = announcement.Id })"
                                           class="font-weight-bold">
                                            @announcement.Title
                                        </a>
                                    }
                                </div>
                            </div>
                        </td>
                        <td>@announcement.Description</td>
                        <td>@announcement.Category.Name</td>
                        @if (announcement.Price != null)
                        {
                            <td>@($"{announcement.Price}zł")</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@announcement.AddDate?.ToString("dd-MM-yyyy")</td>
                        <td>
                            @if (User.Identity.IsAuthenticated && UserManager.GetUserId(User) == announcement.UserId)
                            {
                                <button class="btn btn-danger btn-sm"
                                        onclick="deleteAnnouncement('@announcement.Id', this)">
                                    Usuń
                                </button>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="6">
                        Brak ogłoszeń do wyświetlenia!
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>